.image:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 5px gray, -5px -5px 10px blue;

}
/* Card.Body{
backdrop-filter: blur(20px);
transform: scale(1.1);
} */

.cardMain:hover{
    backdrop-filter: blur(20px);
    transform: scale(1.1);
   
    
}
@media (min-width:330px){
    .cardMain:hover{
        transform: scale(1.1);
        height: 100vh;
        transition: transform 0.1s ease-out;
        background-color: black;
        color: wheat;
    }

}
@media (min-width: 768px) {
  .image:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 5px gray, -5px -5px 10px rgb(18, 18, 18);

}
.cardMain:hover{
    transform: scale(1.1);
    height: 100vh;
    transition: transform 0.1s ease-out;
    background-color: black;
    color: wheat;
}
  }